<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bienvenidos a Mercado Liebre</title>
	<link rel="icon" href="/img/logo-mercado-liebre.svg">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<header class="yellow-background">
		<div class="logo-search-slogan">
			<div class="logo-search-together">
				<!--logo-->
				<div class="logo">
					<img src="/img/logo-mercado-liebre.svg" alt="Logo de la empresa" class="main-logo">
				</div>
				<!--Barra de búsqueda-->
				<div class="search-bar">
					<input type="text" placeholder="Search...">
				</div>
				<!--lupita-->
				<div class="lupita">
					<i class="fa fa-search"></i>
				</div>

			</div>
			
			<!--Slogan-->
			<p class="slogan"><i class="fas fa-hand-holding-usd"></i>¡Comprá en cuotas y sin tarjeta de crédito!</p>
		</div>
		
		<!--Barra de navegación-->
		<nav class="yellow-background">
			
			<ul class="yellow-background">
				<li class="yellow-background"><a href="#">Ofertas </a><i class="fas fa-shopping-basket"></i></li>
				<li class="yellow-background"><a href="#">Tiendas oficiales</a></li>
				<li class="yellow-background"><a href="#">Vender </a></li>
				<li class="yellow-background"><a href="#">Ayuda</a></li>
			</ul>
			<ul class="yellow-background">
				<li class="yellow-background"><a href="/registro">Creá tu cuenta </a><i class="far fa-id-card"></i>
				<li class="yellow-background"><a href="/login">ingresá </a><i class="fas fa-sign-in-alt"></i></li>
				<li class="yellow-background"><a href="#">mis compras</a></li>
			</ul>
			<div class="burger-icon-settings">
				<i class="fas fa-bars"></i>
			</div>
		</nav>
	</header>
    <main>
        <h1>Ingresá</h1>
        <form target=_self action="/">
            <div>
				<label for="username">Nombre de usuario:<br>
					<input type="text" name="username" placeholder="juanperez1" required>
				</label>
			</div>
            <div>
				<label for="password">Contraseña:<br>
					<input type="password" name="password" placeholder="*******" required>
				</label>
			</div>
            <input type="submit" name="login" value="Ingresá" class="myButton">
        </form>
    </main>
    <footer>
		<div class="footer-features">
			<div>
				<i class="fas fa-credit-card"></i>
				<h3>Pagá con tarjeta o en efectivo</h3>
				<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
			</div>
			<div>
				<i class="fas fa-gift"></i>
				<h3>Envío gratis desde $ 2.500</h3>
				<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
			</div>
			<div>
				<i class="fas fa-user-shield"></i>
				<h3>Seguridad, de principio a fin</h3>
				<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
			</div>
		</div>

		<div>
			<p><em>Copyright © 1999-2020 MercadoLiebre S.R.L.</em></p>
		</div>
	</footer>
</body>
</html>